div{
    .perUnit{
        display: flex;
        align-items: center;
        justify-content: center;
        /* font-size: larger; */
        /* font-weight: bolder; */
        color: aliceblue;
        background-color: #617a71;
        font-family: system-ui;
        border-radius: 4px;
        padding-left: 3px;
    }
}