div{
    label{

    }
    select{
        font-family: monospace;
        font-size: 14px;
        height: 19px;
        width: 13rem;
        border: 1px solid #80808000;
        text-align: center;
        border-radius: 12px;
    }
}